
  <%= form_for @artist do |f| %>

  <% if @artist.errors.any? %>
  <div id="errors">
    <h2 class='alert alert-danger'><%= pluralize(@artist.errors.count, 'error') %> stopped this post from saving.</h2>
    <ul>
      <% @artist.errors.full_messages.each do |msg| %>
      <li class='alert alert-info'><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control', id: 'artist_name' %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, placeholder: 'Bio', class: 'form-control', id: 'artist_bio' %>
  </div>

  <div class="form-group">
    <%= f.label :origin %>
    <%= f.text_field :origin, placeholder: 'Origin', class: 'form-control', id: 'artist_origin' %>
  </div>

  <div>
    <%= f.submit 'Add Artist', class: 'btn btn-primary' %>
  </div>

  <% end %>
