<%= form_for song do |f| %>

<% if @song.errors.any? %>
<div id="errors">
  <h2 class='alert alert-danger'><%= pluralize(@song.errors.count, 'error') %> stopped this post from saving.</h2>
  <ul>
    <% @song.errors.full_messages.each do |msg| %>
    <li class='alert alert-info'><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Title', class: 'form-control', id: 'song_title' %>
</div>

<div class="form-group">
  <%= f.label :features %>
  <%= f.check_box :features %>
</div>

<div class="form-group">
  <%= f.label :writers %>
  <%= f.text_area :writers, placeholder: 'Writers', class: 'form-control', id: 'song_writers' %>
</div>

<div>
  <%= f.submit 'Add Song', class: 'btn btn-primary' %>
</div>

<% end %>
